h1{background-color: dodgerblue;
font-family: Impact;}
h2{font-family: 'Segoe UI';}
h3{font-family: 'Franklin Gothic Medium';}
h4{font-family: Verdana;}
p{font-family: 'Gill Sans';text-transform: uppercase;}
body{background-color: cadetblue;}
